<!doctype html>
<html>
    <head>
        <title>@(ViewBag.title)</title>
    </head>
    <body>
        @include('include/main.razor');
        @include('include/aside.razor');
        @include('include/footer.razor');
    </body>
</html>