<!doctype html>
<html>
    <head>
        <title>@(ViewBag.title)</title>
    </head>
    <body>
        @include('include/main.rhtml');
        @include('include/aside.rhtml');
        @include('include/footer.rhtml');
    </body>
</html>