@{
    var data = require('./data.json')
}

<!doctype html>
<html>
    <head>
        <title>title</title>
    </head>
    <body>
        <div class="main">
            <div class="container">
                @(data.body)
            </div>
        </div>
    </body>
</html>