<!doctype html>
<html>
    <head>
        <title>title here</title>
        <!-- __filename support -->
        @( __dirname )
        <!-- __filename support -->
        @( __filename )
    </head>
</html>

@{
    var dest = "output/index.html";
}