<!doctype html>
<html>
    <head>
        <title>
            @(ViewBag.title)
        </title>
    </head>
    <body>
        <div class="container">
            @renderBody()
        </div>
    </body>
</html>