<!doctype html>
<html>
    <head>
        @renderSection('header');
        <title>
            @(ViewBag.title)
        </title>
    </head>
    <body>
        <div class="container">
            @renderBody()
        </div>

        <div id="footer">
            <div>This is in a footer div</div>
            @renderSection('footer');
        </div>
    </body>
</html>