@{
    var data = require('./data.json'); //require support
    require('colors');//third party module support,also native module
    console.log("i required the %s file,and title is : %s","data.json".rainbow,data.title.yellow);
}

<!doctype html>
<html>
    <head>
        <title>@(data.title)</title>
        <!-- __filename support -->
        @( __dirname )
        <!-- __filename support -->
        @( __filename )
    </head>
</html>

@{ console.log($result.cyan); }