<html>
<head>
    <meta charset="UTF-8">
    <title>Document</title>
</head>
<body>
    <div>
        @each(d in ['div1','div2','div3']){
            <div>@(d)</div>
        }

    </div>
</body>
</html>

@{
    // var dest = 'index.htm';
}